{% extends "topic/base.html" %}


{% block title %}
    detail
{% endblock %}

{% block main %}

<!--    左侧文章内容-->

    <div class="main-left">
        <div class="panel panel-info topic-panel">

            <div class="panel-heading ready">
                <ol class="breadcrumb blue">
                  <li><a href="{{ url_for('topic.index') }}">Home</a></li>
                  <li><a href="{{ url_for('topic.index', board_id=bid) }}">{{ b.title }}</a></li>
                </ol>
            </div>

    <!--        Panel 内容-->
            <div class="panel-body">
    <!--        go-topic 标题和信息-->
                <div class="go hide-border">
        <!--                标题-->
                        <div class="go-title">
        <!--                    板块信息-->
                            <a href="{{ url_for('.detail', id=topic.id) }}"></a>
                            <div class="center">
                                <h1>
                                    {{ topic.title }}
                                </h1>
                            </div>
                        </div>
        <!--                topic 信息-->
                        <div class="go-info">
                            <div class="center">
                                <div class="rush label label-info">
                                    发布者：
                                    <span> {{ topic.user().username  }}</span>
                                </div>
                                <div class="rush label label-info">
                                    {{ topic.replies() | count }}回复
                                </div>
                                <div class="rush label label-info">
                                    {{ topic.views }}点击
                                </div>
                            </div>
                        </div>

                    </div>

    <!--        topic 的主要内容-->
                <div class=''>
                    <div class="markdown-text">{{ topic.content}}</div>
                </div>

            </div>

        </div>

    <!--    左侧回复内容-->
    {% for r in topic.replies() %}
        {% set u = r.user() %}
        <div class=" panel panel-info reply-panel">
    <!--        发表回复的用户信息-->
            <div class="panel-heading ready positon-relative">
    <!--            用户头像-->
                <img src="{{ u.image }}" class="reply-user-avatar vertical-center">
    <!--            用户名字-->
                <span class="reply-user-name">
                    {{ u.username }}
                </span>
    <!--            回复时间-->
                <span class="reply-time">
                    {{ r.created_time | format_time }}回复
                </span>
            </div>

    <!--        回复的 内容-->
            <div class="panel-body">
                <div class=''>
                    <div class="markdown-text">{{ r.content }}</div>
                </div>
            </div>

        </div>
    {% endfor %}

    <!--添加回复框-->
    <div class=" panel panel-info reply-panel">
            <form action="{{ url_for('reply.add') }}" method="post">
                <input type="hidden" name="topic_id" value="{{ topic.id }}">

                <label >
                    <textarea name="content" type="text" class="reply-text" placeholder="输入回复"></textarea>
                </label>
                <button type="submit" class="btn btn-danger reply-add center-block">
                    提交回复
                </button>
            </form>
        </div>


    </div>







<!--    markdown 渲染-->

    <script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/1.13.0/prism.js"></script>
    <script src="https://cdn.bootcss.com/prism/1.13.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>
        var e = function (sel) {
            return document.querySelector(sel)
        }

        var es = function (sel) {
            return document.querySelectorAll(sel)
        }

        var markContents = function () {
            // markdown -> html 的处理放在高亮前面
            // 因为高亮是针对 html 格式的
            // lang -> language 不需要转 prism 自动转了
            var contentDivs = es('.markdown-text')
            for (var i = 0; i < contentDivs.length; i++) {
                var contentDiv = contentDivs[i]
                console.log('pre marked', contentDiv.textContent)
                var content = marked(contentDiv.textContent)
                console.log('after marked', content)
                contentDiv.innerHTML = content
            }
        }

        var highlight = function() {
             // 自动加载对应的语言 不然要手动加入各个语言的 js
            Prism.plugins.autoloader.languages_path = 'https://cdn.bootcss.com/prism/1.13.0/components/'
        }

        var __main = function () {
            markContents()
            highlight()
        }

        __main()

    </script>


{% endblock %}

